body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,input,textarea,p,th,td {
padding: 0;
margin: 0;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
fieldset,img {
border: 0;
}
img {border:0;}  /*  去掉图片低测默认的3像素空白缝隙*/
ol,ul,li{
list-style: none;
}

h1,h2,h3,h4,h5,h6 {
font-weight: normal;
font-size: 100%;
}
a{
	text-decoration: none;
	color: #7e8c8d;
}
.k-cl{
	clear: both;
}
